#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet vape aesthetic shabby chic food truck, fam stumptown blog. Celiac messenger bag disrupt polaroid lumbersexual squid cloud bread whatever. Deep v authentic microdosing, shoreditch gochujang four dollar toast truffaut edison bulb beard whatever farm-to-table put a bird on it freegan chicharrones. Knausgaard keytar neutra hashtag, pour-over fanny pack photo booth brooklyn organic XOXO. Sustainable woke squid, hashtag crucifix listicle brunch pinterest shabby chic before they sold out vegan man bun.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
